*{
    margin:0;
    padding:0;
}
.d-app{
    min-height: 100vh;
    background: #edeff0;
    overflow: hidden;
    padding-top: 66px;
}

.d-header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #044863;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 10%);
    z-index: 96;
}
.col-main-body{
    display: flex;
    flex-direction: column;
}

.col-left-sidebar{
    width: 253.2px;
    min-height: calc(100vh - 66px);
}

.left-sidebar{
    height:100%;
}

.on-left-sidebar{
    background: #2a2f33;
    height: 100%;
}

.show ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub-menu>ul>li {
    border-bottom: 1px solid hsla(0,0%,100%,.03);
}

.sub-menu>ul>li>a {
    display: block;
    position: relative;
    color: #fff;
    background: #2a2f33;
    text-decoration: none;
    padding: 15px 30px;
    font-family: Sawarabi Mincho,sans-serif;
}

.box-search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 66px;
    background: #044863;
    color: #fff;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 10%);
    z-index: 1;
}

.btn-search{
    color: #fff;
    outline: 0;
    box-shadow: none;
    padding: 15px;
}

.box-search .icon{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
    color:white;
}

.categories-nav {
    position: fixed;
    z-index: 1000;
    width: 253.2px;
    height: 100%;
}

.box-right {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.box-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 66px;
}

.box-logo img{
    vertical-align: middle;
}

.box-download-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0;
    z-index: 1;
    height: 66px;
}

.d-body {
    flex: 1 1 auto;
    padding: 80px;
}

.text {
    padding-top: 225px;
    text-align: center;
}

.box-copyright {
    color: #222;
    background: #fff;
    text-align: center;
    border-top: 1px solid #e9e9e9;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 25px 0;
}

#copyright{
    margin:0;
}

.privacy{
    padding-left: 15px;
    text-align: left;
}

.topic{
    display: inline-block;
    margin-bottom:20px;
}

.text-topic{
    border-bottom: 3px solid red ;
    font-size:30px;
    font-family: Sawarabi Mincho,sans-serif;
}

.news-image-small{
    height:30px;
}

.main-image img{
    width: 100%;
    height: 450px;
}

.list-news{
    background: #fff;
    padding: 1.25rem;
}

.list-news-box{
    margin-top:2rem;
}

.list-news-box:first-child{
    margin-top:0;
}

.list-news-box img{
    width: 100%;
    height: 150px;
}

.main-detail-content{
    padding:40px 40px 0;
    background: white;
}

.main-text p{
    word-wrap:break-word;
    margin-bottom: 1.6em;
}
.main-text-title{
    font-family: Roboto,sans-serif;
    font-size: 22px;
    padding: 0;
    font-weight: 400px;
    margin-bottom:0;
}

.view-more{
    color:red;
}

.item-news-related{
    background: #fff;
    cursor: pointer;
    height: 330px;
    overflow: visible;
    text-decoration: none;
    transition: none; 
}

.item-news-related img{
    width: 100%;
    height: 40%;
}

.content-news{
    padding: 1.25rem;
}

.content-news p{
    margin-bottom:0 !important;
}

.title-content-news{
    word-wrap: break-word;
    font-weight: bold;
}

.content-left{
    font-size: 1.5rem;
    font-family: Roboto,sans-serif;
}


.text-content-news{
    word-wrap: break-word;
}

.footer-news{
    padding: 0 15px 0px;
}

.site-name {
    text-align: left;
    color: #777;
    padding:0 !important;
    white-space: nowrap;
    overflow-x: visible;
    text-overflow: ellipsis;
    align-items: center;
}

.site-name p{
    margin-bottom:0;
    font-size:14px;
}

.inline-site-logo{
    width: 25% !important;
    height: 70%!important;
}

.list-category{
    margin-bottom:50px;
}

.item-viewed{
    color: #fff;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(10px);
    background: #0fb3f3;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 700;
    line-height: 15px;
}

.item-viewed-1{
    color: #fff;
    padding: 10px;
    position: absolute;
    right: 23.5px;
    top: 4.4%;
    transform: translate(10px);
    background: #0fb3f3;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 700;
    line-height: 15px;
}

.amount-view{
     margin-bottom:0;
}

.item-viewed:after{

    border-right: 10px solid transparent;
    border-top: 7px solid rgba(0,0,0,.5);
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    content: "";
    position: absolute;
}
.card-body ul{
    list-style: none;
    padding: 0;
    margin-bottom:0;
}

.item-ranking .item {
    padding: 20px;
}

.news-related-1 img {
    display: block;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin-bottom:5%;
}

.news-related-1{
    padding-bottom:0;
}

.item-title h4{
    font-size:13px !important
}

.item-news-related .item-viewed{
    top:-18px;  
}

.box-description{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    padding: 10px 15px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.19) 28%,rgba(0,0,0,.7));
}

.box-description #box-description-text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-news-related-left .news-related-1 img:hover{
    opacity: 0.5;
    transition: all .2s ease;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    /* box-shadow: ; */
}

.title-content-news {
    word-wrap: break-word;
    font-weight: bold;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.text-content-news {
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.item-news-related .item-viewed {
    top:35%;
}