.item-viewed{
    color: #fff;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(10px);
    background: #0fb3f3;
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 700;
    line-height: 15px;
}

.amount-view{
     margin-bottom:0;
}

.item-viewed:after{

    border-right: 10px solid transparent;
    border-top: 7px solid rgba(0,0,0,.5);
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    content: "";
    position: absolute;
}